button {
    border: none;
    background-color: black;
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    /* border-radius: 10px; */
    outline: none;
}

button:hover {
    background-color: grey;
}

.equals {
    background-color: #2980b9;
}

.equals:hover {
    background-color: #1b4f72;
}
